*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
logs/
dev.properties
aixforce-search/data
*.rdb
db/
*.versionsBackup
.svn/

/shoppingmall-admin-web/shoppingmall-admin-web
.settings/
.project
/.factorypath
/rend-mobile
/rent-mobile
