<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
	<property name="LOG_FILE" value="/var/log/activiti6.log" />
	<property name="CONSOLE_LOG_PATTERN" value="%clr([%.20t]){faint} %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%clr(%logger{39}){cyan}\(%L\\)] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	<property name="FILE_LOG_PATTERN" value="%clr([%.20t]){faint} %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%clr(%logger{39}){cyan}\(%L\\)] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
	<property name="LOG_FILE_MAX_HISTORY" value="10"/>
	
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.apache.kafka" level="INFO" />
	<logger name="org.apache.zookeeper" level="INFO" />

	<springProfile name="dev">
		<root level="info">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<root level="info">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>	
</configuration>